In [2]:
# ans 1
# WHILE LOOP
x = 1
while (x <10):
    print(x)
    x = x +2

1
3
5
7
9

In [3]:
# FOR LOOP
x = 1 
for i in range(1,20):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [8]:
# ans 2 WHILE LOOP SUM OF 10 NATURAL NUMBER
num = 10
if num <0:
    print("enter a positive number")
else:
    sum = 0
    while(num>0):
        sum += num
        num -= 1 
    print("the sum is", sum)

the sum is 55

In [10]:
# ans 2 FOR LOOP SUM OF 10 NATURAL NUMBER
number = int(input("enter the number:"))
sum = 0
for value in range(1,number+1):
    sum = sum + value
print(sum)

enter the number: 10

55

In [14]:
# ans 3
unit = int(input("enter your electricity unit"))
charge = 0
count = 0
while unit >0:
    if count == 0:
        if unit <=100:
            charge = charge + unit*4.5
            break
        else:
            charge = charge+100*4.5
            unit = unit - 100
            count = count + 1
    elif count == 1:
            if unit  <=100:
                charge = chage +unit*6
                break
            else:
                charge = charge+100*6
                unit = unit-100
                count = count +1
    elif count == 2:
                if unit <=100:
                    charge = charge + unit*10
                    break
                else:
                    charge = charge + 100*10
                    unit = unit - 100
                    count = count + 1
    else:
        charge = charge+unit*20
        unit = 0
        break
             
                    
print("Total Electricity Bill :",charge)

enter your electricity unit 310

Total Electricity Bill : 2250.0

In [10]:
# ans 4
a = [i**3 for i in range(1,101)]
print(a)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299, 1000000]

In [1]:
cube_divisible_by_4 = [i**3 for i in range(1,101) if (i**3)%4 == 0]
print(cube_divisible_by_4)

[8, 64, 216, 512, 1000, 1728, 2744, 4096, 5832, 8000, 10648, 13824, 17576, 21952, 27000, 32768, 39304, 46656, 54872, 64000, 74088, 85184, 97336, 110592, 125000, 140608, 157464, 175616, 195112, 216000, 238328, 262144, 287496, 314432, 343000, 373248, 405224, 438976, 474552, 512000, 551368, 592704, 636056, 681472, 729000, 778688, 830584, 884736, 941192, 1000000]

In [2]:
cube_divisible_by_5 = [i**3 for i in range(1,101) if (i**3)%5 == 0]
print(cube_divisible_by_5)

[125, 1000, 3375, 8000, 15625, 27000, 42875, 64000, 91125, 125000, 166375, 216000, 274625, 343000, 421875, 512000, 614125, 729000, 857375, 1000000]

In [12]:
# ans 5 
v = ['a', 'e' , 'i' , 'o' , 'u']
str= ("i want to become a data scientist")
vowels = 0 
for i in str:
    if i in v:
        vowels = vowels +1
        
print("number of vowels in this given string:", vowels)

number of vowels in this given string: 12